################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/LAN_Tests/obj/LAN_Tests.csproj.nuget.g.props
