.InfoSection {
    width: 30%;
    height: 100%;
    margin: auto;
    float: left;
    text-align: -webkit-center;

    .Game {
        margin: auto;
        text-align: -webkit-center;

        .GameImage {
            margin-top: 5%;
            //margin-left: 10%;
            width: 80%;
            height: 40%;
            background-color: black;
        }
        input {
            margin-top: 2%;
            height: 25px;
            width: 60%;
        }
        .css-1kty9di-MuiFormLabel-root-MuiInputLabel-root {
            color: #e2b514 !important;
        }
        .MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-168o85v-MuiAutocomplete-root
            .MuiOutlinedInput-root {
            color: white !important;
        }
        .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
            color: #e2b514;
        }
    }

    .Party {
        margin: auto;
        h1 {
            //margin-left: 10%;
            text-align: -webkit-left;
            color: #e2b514;
        }

        input {
            margin-top: 0;
            width: 80%;
            height: 30px;
            font-size: 30px;
            color: white;
        }

        .TourneyInfo {
            margin: auto;
            width: 80%;
            margin-left: 10%;
            .Half {
                width: 50%;
                margin-left: 0;
                margin-right: 0;
                margin-top: 5%;
                float: left;
            }
        }
        .SelectTourney {
            margin-left: 5%;
            width: 100%;
            //margin: auto;
            //background-color: whitesmoke;
            //width: 90%;
            padding: -20%;

            .InputLabel {
                color: #e2b514;
                margin: -1%;
            }
        }
        .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
            color: #e2b514;
        }
        .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
            color: #e2b514;
        }
        .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
            color: #e2b514;
        }
        .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
            color: white;
        }
        .css-1kty9di-MuiFormLabel-root-MuiInputLabel-root {
            color: #e2b514;
        }
        .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
            color: #e2b514;
        }
    }
}

.InvitationSection {
    width: 70%;
    height: 100%;
    margin: auto;
    float: right;

    h1 {
        text-align: center;
    }
}
