.rmdp-day.rmdp-selected span:not(.highlight) {
    color: #000;
}
.rmdp-day.rmdp-today span {
    color: #000;
}
.rmdp-panel-body li span {
    color: #000;
    margin-right: 1rem;
}
.rmdp-mobile.rmdp-wrapper {
    margin: auto;
}

// .rmdp-wrapper::-webkit-scrollbar {
//     display: none;
// }
